[Unit]
Description=Cyberdeck Button Handler
After=myapp.service
Requires=myapp.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/CyberdeckCSS360
ExecStart=/home/pi/CyberdeckCSS360/api/venv/bin/python buttons.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target